<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.lasalle.pprog2.practicafinal">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SearchActivity"></activity>
        <activity android:name=".activities.PerfilActivity"></activity>
        <activity android:name=".activities.FavActivity"></activity>
        <activity android:name=".activities.DescriptionActivity"></activity>
        <activity android:name=".activities.RegisterActivity"></activity>
        <activity android:name=".activities.ResultsActivity"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1276a80969b90b0aec3a794be119011aa7f31982" />
    </application>

</manifest>

